venv
win_venv
**/.vscode
**/__pycache__

test.py

best_models/*
!best_models/Trial6
best_models/Trial6/*
!best_models/Trial6/Trial6_79.tf
models/*
!models/Trial6
models/Trial6/*
!models/Trial6/Trial6_635.tf
training_data/*
training_results/*
!training_results/Trial6.npz
model_elo_rating/*
!model_elo_rating/Trial6
